.nav.justify-content-center{
    background-color:$nav-color;
    .nav-item{
        border: 5px solid $borders-color;
        background-color: $navbutton-color;
        border-radius: 25%;
        margin:0px 25px; 

        .nav-link.active{
            color: $active-color;
            font-family: $font-bebas-neue;
            font-size: 40px;
        }
        .nav-link{
            color: $deactive-color;
            font-family: $font-bebas-neue;
            font-size: 40px;
        }
    }

}
.PrincipalProducts{
    text-align: center;
    margin-top: 10px;
    padding-right: 20px;
    .PrincipalProductsList{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,1fr) ;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        li{
            background-color: $topProduct-color;
            border: 4px solid $borders-color;
            div{
                img{
                    width: 25%;
                    height: 25%
                }
                p{
                    font-family: $font-bebas-neue;
                }
                button{
                    width: 300px;
                    height: 100px;
                    img{
                       width: 100%;
                       height: 100%;
                    }
                }

            }
  
        }
    }
}
.TopPages{
    display: flex;
    align-self: auto;
    justify-content: space-around;
    .SearchBar{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 50px;
    }
    .Logo{
        text-align: left;
        width: 350px;
        height: 150px;
        
        img{
            border-radius: 25%;
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }
    .UserData{
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        margin-bottom: 50px;
    }
}
.News{
    border: 8px solid $borders-color;
}
.carousel-item{
    width: 100%;
    height: 500px;
    img{
        width: 100%;
        height: 100%;
    }
}