.nav.justify-content-center{
    background-color:$nav-color;
    .nav-item{
        border: 5px solid $borders-color;
        background-color: $navbutton-color;
        border-radius: 25%;
        margin:0px 25px; 

        .nav-link.active{
            color: $active-color;
            font-family: $font-bebas-neue;
            font-size: 40px;
        }
        .nav-link{
            color: $deactive-color;
            font-family: $font-bebas-neue;
            font-size: 40px;
        }
    }

}
.PrincipalProducts{
    text-align: center;
    .PrincipalProductsList{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,1fr) ;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        li{
            background-color: black;
            border: 4px solid red;
            div{
                img{
                    width: 25%;
                    height: 25%
                }
                p{
                    font-family: $font-bebas-neue;
                }
                button{
                    width: 300px;
                    height: 100px;
                    img{
                       width: 100%;
                       height: 100%;
                    }
                }

            }
  
        }
    }
}