$background-color:#D5DBDB;
$letters-color:#141818;
$borders-color:#181514;
$nav-color:#DBD5D5;
$navbutton-color:#6E7F80;
$active-color:#B7D3D5;
$deactive-color:#93A9AA;



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$font-bebas-neue: "Bebas Neue", sans-serif;

